.intro{
    margin-left: 5%;
    margin-right: 5%;
}

.ps{
  
    color: black;
    font-size: 60px;
}
.texto{
    margin-top: 3%;
}
.conteudo{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 2%;
    text-align: left;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fase1, .fase2{
    padding:2%;
    border-color: black;
    border-width: 1px;
}
.gp1, .gp3{
    padding:2%;
    border-color: black;
    border-width: 1px;
    margin: 2%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 75%;
}
.gp2, .gp4{
    padding:2%;
    border-color: black;
    border-width: 1px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    padding-left: 5%; 
    width: 75%;
}
.li{
    margin: 2px;
}
.finalização{
    margin-left: 5%;
}